html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-family: $Fraunces;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;

    &.noscroll {
        position: fixed; 
        overflow-y: scroll;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: block;
}

li {
    list-style: none;
}

p {
    font-family: $Barlow;
}

