.hero {
    background: url(/images/mobile/image-header.jpg) no-repeat center center;
    background-size: cover;
    height: 33.625rem;
    text-align: center;
    display: flex;
    align-items: center;

    &__text {

        h1 {
            font-size: 2.5rem;
            letter-spacing: 6.25px;
            color: $White;
            text-transform: uppercase;
            margin-bottom: 3.25rem;
        }
    }
}