@mixin projects-styling ($color) {

    height: 37.5rem;

    h4 {
        color: $color;
        margin-bottom: 1.6875rem;
    }

    p {
        font-size: 1rem;
        color: $color;
        letter-spacing: -0.11px;
        line-height: 1.6875rem;
    }
}